.bg-img {
    background: linear-gradient(rgba(12, 34, 57, 0.7), rgba(12, 34, 57, 0.6)), url("../../img/banner_main.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 80rem;
}

.contenido-header {
    padding-top: 40rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenido-header h1 {
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 4.8rem;
    letter-spacing: 2px;
}

.boton-header-curso {
    border: 5px solid #4DC6F3;
    padding: 0.2rem 10rem;
    font-size: 3.2rem;
    color: #4DC6F3;
    text-decoration: none;
    transition: all 300ms ease;
}

.boton-header-curso:hover {
    text-decoration: none;
    color: white;
    border: 5px solid white;
}

@media only screen and (max-width: 600px) {
    .boton-header-curso {
        padding: 0.6rem 8rem;
    }
}