.bg-img {
    background: linear-gradient(rgba(12, 34, 57, 0.7), rgba(12, 34, 57, 0.6)), url("../../img/banner_main.jpg");
    background-position: center center;
    background-size: cover;
    height: 35rem;
}

@media (min-width: 768px) {
    .bg-img {
        height: 100vh;
    }
}

.contenido-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.contenido-header h1 {
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.boton-header-curso {
    border: 2px solid #4DC6F3;
    color: #4DC6F3;
    text-decoration: none;
    margin-bottom: 8rem;
    transition: all 300ms ease;
}

.boton-header-curso:hover {
    text-decoration: none;
    color: white;
    border: 5px solid white;
}