.card {
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 500ms ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0#cfe6ff, 0 6px 20px 0#b3d7fc;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 700;
}

.card-text {
    font-size: 1.5rem;
}

.rounded-img-course {
    border-radius: .5rem !important;
}

.contenedor-tarjeta-curso {
    position: absolute;
    display: flex;
    justify-content: center;
}

.contenedor-spinner-img {
    position: relative;
    min-height: 202px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .contenedor-spinner-img {
        min-height: 287px;
    }
}

.contenedor-tarjeta-curso .spinner-border {
    width: 50px;
    height: 50px;
}