.card {
  margin-bottom: 3rem;
}

.card-blue {
    background: #FFFFFF;
    border: 2px solid #4DC6F3 !important;
    box-sizing: border-box;
    border-radius: 35px !important;
}

/*h2 {
  font-family: "Montserrat", sans-serif;
  size: 24px;
}

p {
  font-family: "Roboto", sans-serif;
  size: 18px;
}*/

.rounded {
  border-radius: 2rem !important;
  margin-bottom: 2%;
}

.center {
  text-align: center;
}

.rounded-circle {
  border: 2px solid rgb(71, 178, 255) !important;
}

.Likes {
  margin: auto;
  text-align: center;
}

.Likes > h6 {
  text-align: center;
  font-family: "Roboto", cursive;
  font-weight: 1000 !important;
  font-size: 80px;
}
.Likes > i {
  font-size: 30px;
}

.RedesSociales {
  margin: auto;
}

.redesDocentes > p {
  color: rgb(35, 156, 244);
  margin-left: 10%;
  font-size: 12px;
}

.redesDocentes > i {
  margin-right: 5px;
}

.Etiquetas {
  color: #4dc6f3;
  text-align: center;
  white-space: middle;
  vertical-align: middle;
  user-select: none;
  border: 2px solid#4dc6f3;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
}

.Etiquetas:hover {
  background-color: #4dc6f3;
  border: 2px solid #4dc6f3;
  color: white;
}

.Conocer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  white-space: middle;
  vertical-align: middle;
  border: none;
  user-select: none;
  border-radius: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: black;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.Conocer:hover {
  background-color: #4dc6f3;
  color: white;
}

.link {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .Likes {
    display: none;
  }

  .RedesSociales {
    display: none;
  }

  /*p {
    width: 100%;
    height: 9.8rem;
    overflow: hidden;
    white-space: break-word;
    text-overflow: ellipsis ellipsis;
  }*/
}

@media only screen and (max-width: 575px) {
  .title-docente {
    text-align: center;
  }

  .btn-toolbar {
    display: block;
    text-align: center;
  }

  .link {
    text-align: center;
  }
}
