.card-blue {
    background: #FFFFFF;
    border: 2px solid #4DC6F3 !important;
    box-sizing: border-box;
    border-radius: 35px !important;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    size: 24px;
}
p {
    font-family: 'Roboto', sans-serif;
    size: 18px;
}
