@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Raleway:wght@100;300;400;600;700&family=Roboto:wght@500;600&display=swap');

body {
  font-family: Raleway, Roboto, Arial, Helvetica, sans-serif !important;
  font-size: 1.6rem;
  line-height: 2;
}

html {
  color: white;
  background-color: #4dc6f3;
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/** Globales **/

img {
  max-width: 100%;
}

.contenedor {
  max-width: 144rem !important;
  width: 90%;
  margin: 0 auto;
}

.contenedor-85 {
  width: 85%;
}

a, a:hover, a:focus {
  text-decoration: none;
}

@media (min-width: 576px) {
  .contenedor {
    width: 85%;
  }
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/** Utilidades **/

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.centrar-texto {
  text-align: center;
}

.d-block {
  display: block !important;
}

.r-180 {
  transform: rotate(180deg);
}

.boton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.4rem 4rem;
  margin-top: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
}

.seccion {
  padding: 1.6rem 0;
  background: white;
  color: black;
}

@media (min-width: 768px) {
  .seccion {
    padding: 3rem 0 1.5rem 0;
  }
}

.titulo-seccion {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  .titulo-seccion {
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }
}

/*Inicio*/

.btn-alternador-vista {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: #0C2239;
  cursor: pointer;
}

.btn-alternador-vista:hover {
  text-decoration: none;
  color: inherit;
}

.btn-alternador-vista img {
  transition: all 500ms ease;
  width: 1rem;
  height: 1.4rem;
}

.rotacion-flechita {
  transform: rotate(90deg);
}

.courses-container {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  margin: 10rem auto;
  margin-left: 40%;
}

.teacher-container {
  padding: 15rem;
  justify-content: space-between;
  padding-bottom: 20%;
  height: 100%;
  width: 100%;
}

.header {
  height: 100%;
  width: 100%;
}

.carrusel {
  background-color: rgb(149, 151, 46);
  height: 100%;
  width: 100%;
}

.cuerpo-pagina {
  padding-top: 15rem;
}

.course-teacher {
  padding: 10%;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}

/*Docentes*/

/*Perfil*/
@media only screen and (min-width: 0px) {
  .teacher-container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 576px) {
  .contenedor {
    max-width: 540px;
  }
  .teacher-container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    max-width: 720px;
  }

  .teacher-container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .contenedor {
    max-width: 960px;
  }

  .teacher-container {
    padding: 15rem;
  }
}
