.perfil-Docente {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin: 10px;
  margin-bottom: 10%;
}

.flag {
  margin-left: 5px;
}

.titulo-carrera {
  padding: 0;
  margin: 0;
  font-size: large;
}

.titulos-docente {
  margin-bottom: 5%;
}
