.contenedor-estadisticas {
    padding: 1.6rem 0;
    background: linear-gradient(92.48deg, #4DC8F3 -22.1%, #0C2239 119.58%);
    color: white;
    text-align: center;
}

.contenido-estadisticas {
    display: flex;
    justify-content: space-between;
}

.contenido-estadisticas h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.2rem;
}

.contenido-estadisticas p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.contenido-estadisticas>div {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .contenido-estadisticas>div {
        flex-basis: calc(50% - 3rem);
    }    
}

.linea-vertical {
    border-left: 3px solid rgba(255, 255, 255, 0.19);
    height: 90%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.contenido-estadisticas .iconos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.contenido-estadisticas .iconos .contenedor-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    border: .2rem solid white;
    border-radius: 50%;
}

.contenido-estadisticas .iconos .icono {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-estadisticas .numero-estadistica {
    font-size: 1.7rem;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: .5rem;
}

.contenedor-estadisticas .texto-estadistica {
    font-size: 1.4rem;
    font-family: Raleway;
    font-weight: 700;
    margin: .5rem;
}

.contenedor-estadisticas .imagen-estadistica {
    border-radius: 50%;
    width: 1.3rem;
}

.contenedor-estadisticas .mision-vision {
    display: none;
}

@media (min-width: 768px) {
    .contenedor-estadisticas .mision-vision {
        display: block;
    }
}

.contenedor-estadisticas .contenedor-mision-vision>div {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.contenedor-estadisticas .contenedor-mision-vision>div h2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0;
    margin-left: 2rem;
}