.contenedor-navbar {
    padding: 2.2rem 0;
}

.navbar {
    transition: all .2s ease;
    padding: 5rem 0;
}

.navbar-dark .navbar-toggler-icon{
    padding: 2rem !important;
  }
 
.scrolled {
    background-color: #0C2239;
}

.logo,
.logo img {
    box-sizing: content-box;
    width: 6rem;
}

@media only screen and (min-width: 576px) {
    .logo,
    .logo img {
        box-sizing: content-box;
        width: 8rem;
    }
}

#collapsibleNavbar ul {
    box-sizing: border-box;
    list-style-type: none;
}

#collapsibleNavbar ul li {
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    margin-right: 2rem;
}

#collapsibleNavbar ul li:last-of-type {
    margin-right: 0;
}

#collapsibleNavbar ul li:hover {
    color: white;
}

#collapsibleNavbar ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 2.4rem;
}