footer {
  padding: 2rem;
  background-color: #0c2239;
  color: white;
}

footer p {
  color: white;
}

.contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .contenedor-footer>div {
    flex-basis: calc(33.3% - 1rem);
  }
}

.logo-footer {
  border-radius: 50px;
  width: 7.5rem;
}

.redes, .administrativo {
  flex-basis: calc(50% - 1rem);
}

@media (min-width: 768px) {
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.redes p, .administrativo p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .redes p, .administrativo p {
    font-size: 1.3rem;
  }
}

.logo-contacto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .logo-contacto {
    margin: 0;
    display: block;
  }
}

.contacto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(50% - 1rem);
}

.contacto-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contacto-footer h4 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}

.contacto-footer p {
  margin: 0;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contacto-footer p {
    font-size: 1.3rem;
  }
}

.contacto-footer p:last-of-type {
  font-weight: 400;
}

.iconos-redes {
  display: flex;
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

.iconos-redes:last-of-type {
  margin: 0;
}

.iconos-redes li {
  margin-right: 2.5rem;
}

.iconos-redes li:last-of-type {
  margin-right: 0;
}

.iconos-redes i {
  color: white;
}

.iconos-redes .fab {
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .iconos-redes .fab {
    font-size: 3rem;
  }
}

.administrativo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}