footer {
  padding: 2rem;
  min-height: 20vh;
  background-color: #0c2239;
  color: white;
}

.contenedor-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-footer {
  border-radius: 50px;
  width: 7.5rem;
}

.redes, .administrativo {
  flex-basis: calc(50% - 1rem);
}

.redes p, .administrativo p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem;
}

.logo-contacto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-basis: 100%;
}

.contacto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(50% - 1rem);
}

.contacto-footer h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contacto-footer p {
  margin: 0;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
}

.contacto-footer p:last-of-type {
  font-weight: 400;
}

.iconos-redes {
  display: flex;
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

.iconos-redes:last-of-type {
  margin: 0;
}

.iconos-redes li {
  margin-right: 2.5rem;
}

.iconos-redes li:last-of-type {
  margin-right: 0;
}

.iconos-redes i {
  color: white;
}

.iconos-redes .fab {
  font-size: 2.2rem;
}

.administrativo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}