.container-info {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .container-info {
    margin-bottom: 4.5rem;
  }
}

.container-title {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .container-title {
    margin-bottom: 2rem;
  }
}

.container-title>h2 {
  font-weight: 900;
}

.container-info>div>p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 22px;
}

@media (min-width: 768px) {
  .container-info>div>p {
    font-size: 1.8rem;
    line-height: 30px;
  }
}

.titulo-docente:before {
  content: "";
  display: inline;
  position: absolute;
  top: 100%;
  border-bottom: 3px solid black;
  width: 50%;
}

@media (min-width: 768px) {
  .titulo-docente {
    font-size: 2rem;
  }
}

.titulo-docente {
  font-size: 2.2rem;
  display: inline;
  position: relative;
}

.text-content {
  font-size: 1.5rem;
}

.Detalle {
  display: inline;
  visibility: hidden;
}

.Detalle {
  visibility: visible;
}

@media (min-width: 768px) {
  .Detalle {
    visibility: hidden;
  }
}

.Detalle>a>i {
  color: black;
  margin-left: 2rem;
}

.Ocultar {
  display: none;
}

.Semi-Oculto {
  width: 100%;
  height: 9.1rem;
  overflow: hidden;
  white-space: break-word;
  text-overflow: ellipsis ellipsis;
}