.rounded-course {
  border-radius: 2rem !important;
  margin-bottom: 3%;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.rounded-course:hover {
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.rounded-img {
  border-radius: 0 2rem 2rem 0 !important;
}

.col-sm-4>.fa-github {
  font-size: 16rem;
}

.icono-course {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

.info-course {
  padding: 3% !important;
}

.info-course>h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.info-course>p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.info-course>h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.stars-outer {
  text-align: center;
  font-size: 2.5rem;
  color: #ffd600;
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-inner {
  color: #ffd600;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}

@media only screen and (max-width: 1000px) {
  .rounded-img {
    display: none;
    border-radius: 0 0 2rem 2rem !important;
  }
  .info-course>p {
    width: 100%;
    height: 9.1rem;
    overflow: hidden;
    white-space: break-word;
    text-overflow: ellipsis ellipsis;
  }
}

@media only screen and (max-width: 574px) {
  .info-course>h2 {
    text-align: center;
    font-size: 2rem;
  }
  .rounded-course {
    border-radius: 2rem !important;
    margin-bottom: 12%;
  }
  .col-sm-4>.fa-github {
    font-size: 10rem;
  }
}